<div class="container">
  <div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div class="top-text">
<h1><strong>welcome to Nekomamire</strong></h1>
<p>This is a community site for cat lovers and cat owners.</p>
<p>Nekomamire is a gift for cat lovers.</p>
<p>Have a nice nekomamire life!</p>
</div>

<div class="row">
  <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary col-2 offset-1" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info col-2 offset-2" %>
</div>
    </div>
  </div>
</div>

